
h1 {
    font-family: 'Fira Sans';
    color: rgb(71, 62, 62);
    margin: 12px 0px;
}

h2 {
    color: rgb(78,13,5);
    font-family: 'Oswald';
}


li {
    margin: 21px;
    list-style: none;
    background-color: rgba(65, 65, 13);
    padding: 12px;
    border-radius: 4px;
    border:3px solid rgb(23, 167, 34)
}

#description {
    margin: 0;
}

a {
    padding: 12px 48px;
    background-color: rgb(178, 1, 79) ;
    font-family: 'Oswald';
    text-decoration: unset;
    border-radius: 4px;
    font-size: 24px;
    display: inline-block;
    margin: 12px 0;
}

a:hover {
    background-color: rgb(180,12,90);
    text-decoration: none;
}

/* main p {
    margin: 12px;
    color: white;
} */

.highlightGoal{
    background-color: rgb(131, 131, 95);
}

body {
    text-align: center;
}